
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Thin.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow-x: hidden;
    position: relative;
    background: #fff;
    transition:  0.3s ease;
}
.content {
    max-width: calc(1440px + 16px*2);
    padding: 0 16px;
    margin: 0 auto;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 10px;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            color: #1A2A37;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 15.6px */
        }
        .last-breadcrumb {
            color: rgba(26, 42, 55, 0.40);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 15.6px */
        }
    }
}
.gray-btn {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F5F5F7;
    box-shadow: 0px 6px 4px -3px #AEB5C2;
    color: #1A2A37;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    width: fit-content;
    transition: 0.3s ease;

    &:hover {
        border-radius: 10px;
        background: #1A2A37;
        box-shadow: none;
        color: #fff;
    }
}